pyrogram
img2pdf
jdatetime
wikipedia
requests
asyncio
wget
yt_dlp
pytube
bs4
psutil
countryinfo
justwatch
html
pytz
pyfiglet
telegraph
youtube_dl 
aiohttp
aiofiles
datetime
prettytable

